*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
  display: flex;
  min-height: 100vh;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  background:rgb(48, 47, 49) ;


}
.wrapper{
  width: 770px;
  padding: 35px;
  background-color:rgb(104, 104, 115) ;
  border-radius: 15px;
  box-shadow: 0px 10px 15px blue;

}
.wrapper .Content-box{
  
  padding: 13px 20px 0 ;
  border-radius: 10px;
   border: 1px solid blanchedalmond;
   

  
}
.wrapper .input-field{
  padding: 13px 20px 0;
  position: absolute;
  opacity: 0;
  z-index: -99;
  cursor: pointer;
  
}
.Content-box .content{

  margin-top: 17px;
  display: flex;
  padding: 12px 0 ;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid blanchedalmond;
}
.Content-box .result-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 140px);


}
.result-details li{
  display: flex;
  height: 20px;
  list-style: none;
  align-items: center;

}

button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: #eeeaea;
}

button:active {
  opacity: .5;
}

.typing-text p span{
  font-size: large;
  position: relative;
}
.typing-text p span.active{
  color: orange;

}

.typing-text p span.correct{
  color:rgb(211, 222, 211);
}
.typing-text p span.incorrect{
  color: rgb(243, 240, 240);
  
  background-color: rgb(242, 50, 50);
  border-radius: 1px;
}